In [1]:
import pandas as pd
import pyarrow.parquet as pq

In [20]:
df = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv")

In [21]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [22]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [24]:
engine.connect()

In [25]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [19]:
df.to_sql(name='zones', con=engine, if_exists='replace')

In [11]:
URL_PREFIX = 'https://nyc-tlc.s3.amazonaws.com/trip+data/'
FILE_NAME = 'fhv_tripdata_'
URL_TEMPLATE = URL_PREFIX + FILE_NAME + '{{ execution_date.strftime("%Y-%m") }}.parquet'

In [12]:
print(URL_TEMPLATE)

https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_{{ execution_date.strftime("%Y-%m") }}.parquet

In [2]:
import os

print(os.environ.get('AIRFLOW_UID'))

None